---
export type Props = {
	slug: string;
	count: number;
};

const { slug, count } = Astro.props;
---

<a
	class="flex flex-wrap items-center gap-4 rounded-lg border border-gray-200 p-4 text-3xl font-medium text-gray-800 shadow-sm outline-none ring-amber-500 transition-colors hover:bg-gray-100 focus:ring-2 active:bg-gray-200"
	href={`/${slug}/`}
>
	<div><slot /></div>
	<div class="ml-auto">{count} 个</div>
</a>
