---
import DateTimeFormat from './DateTimeFormat.astro';
import info from '../../public/info.json';

const editDate = new Date(info.edit);
const buildDate = new Date(info.build);
---

<footer class="border-t border-neutral-200 bg-white grid-in-footer">
	<div class="mx-auto max-w-5xl space-y-4 px-4 py-8 text-sm md:px-6">
		<p>
			如需更改本页内容，欢迎到 <a
				class="font-medium underline"
				href={`https://thwiki.cc/${info.title}`}
				target="_blank"
				rel="noopener">THBWiki 词条</a
			> 登录并点击右上编辑，按照相同格式填写即可。
		</p>
		<p>
			本网站内容最后编辑于 <a
				class="font-medium underline"
				href={`https://thwiki.cc/index.php?oldid=${info.revid}`}
				target="_blank"
				rel="noopener"><DateTimeFormat date={editDate} /></a
			> ，并自动生成于
			<DateTimeFormat date={buildDate} /> 。
		</p>
		<p>
			<a
				class="font-medium underline"
				href="https://thwiki.cc/THBWiki:%E9%9A%90%E7%A7%81%E6%9D%83%E6%94%BF%E7%AD%96"
				target="_blank"
				rel="noopener">隐私政策</a
			> |
			<a
				class="font-medium underline"
				href="https://thwiki.cc/THBWiki:%E5%85%B3%E4%BA%8E"
				target="_blank"
				rel="noopener">关于 THBWiki</a
			> |
			<a
				class="font-medium underline"
				href="https://thwiki.cc/THBWiki:%E5%85%8D%E8%B4%A3%E5%A3%B0%E6%98%8E"
				target="_blank"
				rel="noopener">免责声明</a
			> |
			<a
				class="font-medium underline"
				href="https://thwiki.cc/THBWiki:%E6%8D%90%E6%AC%BE"
				target="_blank"
				rel="noopener">捐款支持</a
			>
		</p>
		<p>
			<a class="font-medium underline" href="https://thwiki.cc/" target="_blank" rel="noopener"
				><img
					src="https://static.thbwiki.cc/banner/banner_b3.png"
					data-origin="https://static.thbwiki.cc/banner/banner_b3.png"
					alt="由TBSGroup建立的专业性东方Project维基百科"
				/></a
			>
		</p>
	</div>
</footer>
