---
import BackToTop from './BackToTop.astro';
---

<main class="overflow-x-auto bg-gray-20 grid-in-main">
	<article class="mx-auto max-w-5xl px-4 pb-8 pt-20 text-sm md:px-6">
		<slot />
	</article>
	<BackToTop>顶部</BackToTop>
</main>
