<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <title>东方相关QQ群组列表 - THBWiki · 专业性的东方Project维基百科 - TBSGroup</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="THBWiki提供的东方相关QQ群组列表" />
    <meta name="Author" content="THBWiki" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <meta property="og:title" itemprop="name" content="东方相关QQ群组列表" />
    <meta property="og:type" content="article" />
    <meta property="og:description" itemprop="description" content="THBWiki提供的东方相关QQ群组列表" />
    <meta property="og:image" itemprop="image" content="https://touhou.group/_media/logo.png" />
    <meta property="og:url" content="https://touhou.group/" />
    <meta property="og:site_name" content="THBWiki touhou.group" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/docsify@4/lib/themes/vue.css" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div id="app"></div>
    <script>{{ script | safe }}</script>
    <!-- Docsify v4 -->
    <script src="//cdn.jsdelivr.net/npm/docsify@4"></script>
    <script src="//cdn.jsdelivr.net/npm/@alertbox/docsify-footer/dist/docsify-footer.min.js"></script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131267722-6"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-131267722-6');
		</script>
  </body>
</html>
