---
import type { MarkdownHeading } from 'astro';
import Footer from '../components/Footer.astro';
import Main from '../components/Main.astro';
import Sidebar from '../components/Sidebar.astro';
import type { CollectionEntry } from 'astro:content';

export type Props = {
	headings?: MarkdownHeading[];
	frontmatter?: CollectionEntry<'lists'>['data'];
};

const { headings, frontmatter } = Astro.props;
---

<html lang="zh-Hans">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="THBWiki提供的东方相关QQ群组列表" />
		<meta name="author" content="THBWiki" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" itemprop="name" content="东方相关QQ群组列表" />
		<meta property="og:type" content="article" />
		<meta
			property="og:description"
			itemprop="description"
			content="THBWiki提供的东方相关QQ群组列表"
		/>
		<meta property="og:image" itemprop="image" content="/logo.png" />
		<meta property="og:url" content={Astro.site} />
		<meta property="og:site_name" content={`THBWiki ${Astro.site?.host}`} />
		<title>
			{frontmatter?.title ? frontmatter.title + ' - 东方相关 QQ 群组列表' : '东方相关 QQ 群组列表'}
		</title>
	</head>
	<body>
		<div
			class="grid size-full min-h-screen grid-cols-layout-sm grid-rows-layout text-neutral-950 transition-all grid-areas-layout sm:grid-cols-layout-md md:grid-cols-layout-lg"
		>
			<Sidebar headings={headings ?? []} title={frontmatter?.title ?? ''} />
			<Main>
				<slot />
			</Main>
			<Footer />
		</div>
	</body>
</html>

<style is:global>
	html,
	body {
		@apply w-full;
		scrollbar-gutter: auto;
		-webkit-tap-highlight-color: transparent;
	}

	body {
		@apply bg-white;
		scroll-behavior: smooth;
	}

	* {
		@apply min-w-0;
	}
</style>
